@import "tailwindcss";
@plugin "daisyui"{
    themes:all;
}

/* add curson pointer for buttons bydefault */

@layer base{
    button:not(:disabled),
[role="button"]:not(:disabled){
    cursor:pointer;
}
}